@page "/counter"

<PageTitle>Counter</PageTitle>

<ul class="list-group">
    @foreach(var item in items)
    {
        <li class="list-group-item">
            <h1>@item.Value</h1>
        </li>

    }
</ul>

@code {
    IEnumerable<Color> items = new Color[]
        {
        new Color(){Id=0,Value="Green"},
        new Color(){Id=1,Value="Blue"},
        new Color(){Id=2,Value="Orange"}
        };

    public class Color
    {
        public int Id { get; set; }
        public string Value { get; set; }
    }
}
